<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <type name="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers"  xsi:type="array">
                <item name="stdout" xsi:type="object">CleatSquad\LogStream\Logger\StdoutHandler</item>
                <item name="stderr" xsi:type="object">CleatSquad\LogStream\Logger\StderrHandler</item>
            </argument>
        </arguments>
    </type>
    <type name="CleatSquad\LogStream\Logger\StdoutHandler">
        <arguments>
            <argument name="formatter" xsi:type="object">Monolog\Formatter\JsonFormatter</argument>
        </arguments>
    </type>
    <type name="CleatSquad\LogStream\Logger\StderrHandler">
        <arguments>
            <argument name="formatter" xsi:type="object">Monolog\Formatter\JsonFormatter</argument>
        </arguments>
    </type>
</config>
