name: Code style and static analysis

jobs:
  setup-deps:
    name: Prepare dependencies
    runs-on: ubuntu-latest
    outputs:
      php-version: 8.4
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create auth.json
        run: |
          printf '{"http-basic":{"repo.magento.com":{"username":"%s","password":"%s"}}}' \
            "$MAGENTO_AUTH_USERNAME" "$MAGENTO_AUTH_PASSWORD" > "$auth.json"
        env:
          MAGENTO_AUTH_USERNAME: ${{ secrets.MAGENTO_AUTH_USERNAME }}
          MAGENTO_AUTH_PASSWORD: ${{ secrets.MAGENTO_AUTH_PASSWORD }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1

      - name: Install dependencies
        run: composer install --no-progress --no-interaction --prefer-dist

      - name: Upload vendor
        uses: actions/upload-artifact@v4
        with:
          name: vendor
          path: vendor

  phpstan:
    name: PHPStan
    runs-on: ubuntu-latest
    needs: setup-deps
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download vendor
        uses: actions/download-artifact@v4
        with:
          name: vendor
          path: vendor

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1

      - name: Run PHPStan
        run: vendor/bin/phpstan analyse

  php-cs-fixer:
    name: PHP-CS-Fixer
    runs-on: ubuntu-latest
    needs: setup-deps
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download vendor
        uses: actions/download-artifact@v4
        with:
          name: vendor
          path: vendor

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1

      - name: Run PHP-CS-Fixer
        run: vendor/bin/php-cs-fixer fix --show-progress=none --dry-run