name: Code style and static analysis

on:
  pull_request:
  push:
    branches: [ master ]

jobs:
  php-cs-fixer:
    name: PHP-CS-Fixer
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Create auth.json
        run: |
          mkdir -p "${COMPOSER_HOME:-$HOME/.composer}"
          printf '{"http-basic":{"repo.magento.com":{"username":"%s","password":"%s"}}}' \
            "$MAGENTO_AUTH_USERNAME" "$MAGENTO_AUTH_PASSWORD" > "${COMPOSER_HOME:-$HOME/.composer}/auth.json"
        env:
          MAGENTO_AUTH_USERNAME: ${{ secrets.MAGENTO_AUTH_USERNAME }}
          MAGENTO_AUTH_PASSWORD: ${{ secrets.MAGENTO_AUTH_PASSWORD }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2

      - name: Install dependencies
        run: composer install --no-progress --no-interaction --prefer-dist

      - name: Run script
        run: composer check-style

  phpstan:
    name: PHPStan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2

      - name: Install dependencies
        run: composer install --no-progress --no-interaction --prefer-dist

      - name: Run script
        run: composer phpstan


  composer-validate:
    name: Composer validate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2

      - name: Install dependencies
        run: composer install --no-progress --no-interaction --prefer-dist

      - name: Run script
        run: composer composer-validate
